body {
  background-color: rgb(1, 21, 38); 
}
.box {
  margin: auto;
  width: 50%;
}

.list {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

h2 {
  color: rgb(242, 141, 141);
  font-family: Verdana;
  background-color: rgb( 2, 48, 89);
}


p {
  color: white;
  font-family: Verdana;
  font-size: 1.3em;
}

label {
  color:white;
  font-family: Verdana;
  font-size: 1.2em;
}

input[type=text] {
  font-family: Verdana;
  border: 4px solid rgb(242, 141, 141);
  border-style: inset;
  border-radius: 4px;
  width: 50%;
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
}
button {
  background-color: rgb(2, 48, 89);
  color: rgb(242, 141, 141);
  padding: 12px 15px;
  border: 5px solid rgb(4, 85, 191);
  border-style: inset;
  border-radius: 4px;
  cursor: pointer;
  font-family: Verdana;
}